<div class="jumbotron">
  <h1>Welcome to MyZine</h1>
    <h3>The online newsstand for all of your reading needs!</h3>
      <p>Create a list of your favorite articles.</p>
      <p>Read your articles anytime.</p>
      <p>Delete your articles whenever you are done.</p>
</div>

<% if user_signed_in? %>
  </div>
   <%= render 'form' %>
   </div>
<% end %>

