<h1>Welcome to MyZine!!</h1>
<h3>The online newsstand for all of your reading needs!</h3>
<h4>Create a list of your favorite articles.</h4>
<h4>Read your articles anytime.</h4>
<h4>Delete your articles whenever you are done.</h4>

