// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #C0C0C0;
	margin: 0px;
	padding: 0px;
}
.jumbotron {
	background-color: black;
	color: #aeadad;
}
.intro {
	margin-top: 170px;
	text-align: center;
}
.login-as {
	color: #aeadad;
	margin-bottom: 0;
}
.login-buttons {
	margin-bottom: 0;
}

